@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";

#search-query{
  margin: 10px;
  border-color: #0d6efd;
}

#stories-list{
  margin:10px;
}

#next-link, #previous-link, #back-link{
  margin: 10px;
}

#footer{
  margin-top: 20px;
}

#loader-image{
  margin: 10px;
}

#story-title, #comments-list{
  margin: 10px;
}

#app-title{
  color: orange;
}

#story-points{
  margin: 0;
}