@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";

#search-query{
  margin: 10px;
}

#stories-list{
  margin:10px;
}

#next-link, #previous-link{
  margin: 10px;
}

#footer{
  margin-top: 20px;
}